html, body, #root, #root > div {

  height: 100vh;
  margin: 0;
}

.App {

  display: flex;
  flex-direction: column;
  height: 100%;
}

p {

  margin: 2% 0 2% 0;
}

.bold {

  font-size: 48px;
}

.navBar {

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
  background-color: #222831;
}

.navLinks {

  display: flex;
  align-items: center;
  gap: 32px;
}

.navLinks a {

  text-decoration: none;
}

.themeToggle {

  display: flex;
  align-items: center;
  gap: 8px;
}

.box {

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;

  background-color: #222831;
  padding: 32px;

  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
}

.box .row.header {

  display: flex;
  flex: 0 1 auto;
  align-items: center;
  gap: 8px;

  padding: 16px;
}

.box .row.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  margin-top: 2%;
}

.box .row.footer {

  flex: 0 1 32px;
}

.title {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 80%;
}

.confession {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 20vh;
  width: 100vw;
}

.confession > * {

  font-size: 24px;
  border-color: #EEEEEE;
  border-radius: 32px;
}

form {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  width: 100vw;
}

textarea {
  
  border: 2px solid #EEEEEE;
  resize: vertical;
  height: 100%;
  max-height: 200%;
  min-width: 80%;
  padding: 1%;
}

textarea.light {

  border: 2px solid #222831;
}

button {

  border: 2px solid #EEEEEE;
  min-width: 20%;
  background-color: #222831;
  color: #EEEEEE;

  font-size: 24px;
}

button.light {

  border: 2px solid #222831;
}

button:hover {

  border: 2px solid #FFD369;
  color: #FFD369;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.dark {

  background-color: #222831;
  color: #EEEEEE;
}

.light {

  background-color: #EEEEEE;
  color: #222831;
}

/* Modal box */

.modalBackground {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(34, 40, 49, 0.9);
}

.modalContainer {

  display: flex;
  flex-direction: column;
  padding: 24px;

  width: 500px;
  height: 500px;
  border-radius: 12px;
  border: 2px solid white;
  background-color: #222831;
}

.modalBody {

  display: flex;
  flex-direction: column;
  flex: 25%;
  justify-content: center;
  align-items: center;
}

.modalFooter {

  display: flex;
  justify-content: space-between;
}

/* Confessional page */
.confessionList {

  display: flex;
  flex-direction: column;
  gap: 8px;

  height: 100%;
}

.confessionCard {

  border: 2px solid #EEEEEE;
  border-radius: 12px;
  padding-left: 8px;
}

.confessionCard.light {

  border-color: #222831;
}


/* Toggle Switch */
.toggleLabel {

  color: orange;
}

.switch {
  
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.switch input {

  opacity: 0;
  width: 0;
  height: 0;
}

.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383f49;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #EEEEEE;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 4px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}